body {
    font-family: sans-serif;
    background-image: URL('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRy-dsSH_UYBPVKcxpeiXPnJk1PY-KwUgfLEph1kuvqUcA9yuW4Q');
    background-size:cover;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.headers{
   font-family: LCDD;
   text-shadow: 1px 1px 2px white;
   text-decoration: dashed;
   text-decoration: underline;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: #bdb8b8;
    font-family: arial;
    padding-left: 50;
}

