body {
    font-family: sans-serif;
    background-image: URL('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFTZGtYM6x0N8TdFSyqrUB_SGhbSVwDk2WorBYy6-kDDqxCLr26g');
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: lightgrey;
    font-family: arial;
    padding-left: 30;
}